<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    {{message}}
    <!-- v-bind是用来绑定属性的 -->
    <!-- v-on 是用来绑定方法的 -->
    <!-- v-on: 可以缩写为 @ -->
    <p class="cool" v-bind:class="{good:isGood}" @click="reverseMsg">{{msg}}</p>
    <!-- <p class="cool" v-bind:class="isGood ? 'good':'bad'">我滴个亲娘诶</p> -->
    <!-- : 代表的是 v-bind 的缩写 -->
    <!-- <p class="cool" :class="[activeClass]">我滴个亲娘诶</p>
    <ul>
      <li v-for="todo in todos">{{todo.text}}</li>
    </ul> -->
    <!-- v-model是唯一一个双向数据绑定,不需要手动修改 -->
    <p>{{content}}</p>
    <input type="text" v-model="content">

  </div>
  <script>
    // 所有的逻辑都是写在vue里面
    var app = new Vue({
      el: '#app',
      data: {
        message: 'hello',
        isGood: false,
        activeClass: 'active',
        todos: [
          {
            text: '学习vue'
          },
          {
            text: '学习js'
          },
          {
            text: '学习学习'
          }
        ],
        content: '',
        msg:'我滴个亲娘诶'
      },
      methods: {
        reverseMsg() {
          this.msg = this.msg.split('').reverse().join('')
        }
      }

    })
  </script>
</body>

</html>